<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-horizontal" role="form" (ngSubmit)="onEdit()" #f="ngForm">
      <fieldset>
        <legend>User info</legend>

        <div class="form-group">
          <label class="col-sm-3 control-label" >First Name</label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="tempUserInfo.firstname" name="firstName" required >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" >Last Name</label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="tempUserInfo.lastName" name="lastName" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" >Username</label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="tempUserInfo.username" name="username" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Type</label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="tempUserInfo.type" name="type" required readonly disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Category</label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="tempUserInfo.category" name="category" required readonly disabled>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div >
              <button type="button"  (click)="redirectToChangePassword()" class="btn btn-warning" >Change Password</button>
              <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
              <button type="submit"  class="btn btn-primary" [disabled]="!f.valid">Edit</button>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
