<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <!--<div class="navbar-header">-->
    <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
    <!--</div>-->
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink='/home'>Home</a></li>
      <li class="active"><a *ngIf="serverService.isLoggedIn" routerLink='/profile'>Profile</a></li>
      <li class="active"><a *ngIf="serverService.isAdmin()" routerLink='/users'>Users</a></li>
      <li class="active"><a *ngIf="serverService.isAdmin()" routerLink='/categories'>Categories</a></li>
      <li class="active"><a routerLink='/eBooks'>Books</a></li>
      <li class="active"><a routerLink='/search'>Search</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a *ngIf="!serverService.isLoggedIn"
             routerLink='/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a class="navbar-brand" style="cursor: pointer;"
             *ngIf="serverService.isLoggedIn" (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</nav>

