<div class="container">
  <div class="row">
    <div class="span12">
      <div id="legend">
        <legend class="">Login</legend>
      </div>
      <div class="control-group">
        <label class="control-label"  for="username">Username</label>
        <div class="controls">
          <input type="text" [(ngModel)]="user.username" id="username" name="username" placeholder="" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" [(ngModel)]="user.userPassword" id="password" name="password" placeholder="" class="input-xlarge">
        </div>
      </div>
      <div class="control-group">
        <br>
        <div class="controls">
          <button class="btn btn-success" (click)="onSubmit()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
