<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-horizontal" role="form" (ngSubmit)="onChangePassword()" #ff="ngForm">
      <fieldset>
        <legend>Change Password</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" >Current Password</label>
          <div class="col-md-8">
            <input type="password" [(ngModel)]="changePasswordModel.currentPassword" name="currentPassword" required >
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" >New Password</label>
          <div class="col-md-8">
            <input type="password" [(ngModel)]="changePasswordModel.newPassword" name="newPassword" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" >Repeat New Password</label>
          <div class="col-md-8">
            <input type="password" [(ngModel)]="changePasswordModel.repeatPassword"  name="repeatNewPassword" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <div >
              <button type="button" (click)="onCancel()"  class="btn btn-danger">Cancel</button>
              <button class="btn btn-primary" [disabled]="!ff.valid">Change Password</button>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
