<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-horizontal" (ngSubmit)="addEBook()" role="form" #f="ngForm">
      <fieldset>
        <legend>Book info</legend>

        <div class="form-group">
          <label class="col-sm-3 control-label" >Upload book: </label>
          <div class="col-sm-9">
            <input type="file" name="avatar" id="fileToUpload" (change)="fileEvent($event)">
            <button type="button" class="btn btn-success"(click)="uploadEbook()" [disabled]="checkUpload()">Upload</button>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" >Title: </label>
          <div class="col-sm-9">
            <input type="text" [(ngModel)]="book.title" name="title" required >
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label" >Author: </label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="book.author" name="author" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" >Keywords: </label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="book.keywords" name="keywords" required>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-3 control-label" >Pub. year: </label>
          <div class="col-sm-9">
            <input type="number"  [(ngModel)]="book.publicationYear" name="publicationYear" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" >File name: </label>
          <div class="col-sm-9">
            <label>{{book.fileName}}</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" >MIME: </label>
          <div class="col-sm-9">
            <input type="text"  [(ngModel)]="book.mime" name="mime" required>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Category: </label>
          <div class="col-sm-9">
            <select (change)="setCategory()" type="text" [(ngModel)]="book.category.name" name="category" required>
              <option *ngFor = "let cat of dataService.categories" [ngValue]="cat.name">
                {{cat.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Language: </label>
          <div class="col-sm-9">
            <select (change)="setLanguage()" type="text" [(ngModel)]="book.language.name" name="language" required>
              <option *ngFor = "let lang of dataService.languages" [ngValue]="lang.name">
                {{lang.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div>
              <button type="button"  class="btn btn-danger" (click)="onCancel()">Cancel</button>
              <button type="submit"  class="btn btn-success" [disabled]="!f.valid">Add</button>
            </div>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
