<div class="gaadiex-list-item">
  <div class="gaadiex-list-item-text">
    <h3><a style="cursor: pointer;"
           [routerLink]="[category.id]"
    routerLinkActive="active">{{category.name}}</a></h3>
  </div>
</div>
