<div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="http://www.free-icons-download.net/images/commercial-male-user-icon-32765.png" alt="List user">
  <div class="gaadiex-list-item-text">
    <h3><a style="cursor: pointer;"
           [routerLink]="[user.id]"
           routerLinkActive="active">{{user.username}}</a></h3>
    <h4>{{user.firstname}} {{user.lastName}}</h4>
    <p> {{user.type}}</p>
  </div>
</div>
