<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <button type="button" (click)="onAddNewCategory()"  class="btn btn-success">Add new category</button>
        </div>
        <div class="gaadiex-list">
          <app-category-item
            *ngFor="let catEl of dataService.categories; let i=index"
            [category]="catEl"
            [id]="catEl.id">
          </app-category-item>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
