<div class="gaadiex-list-item"><img class="gaadiex-list-item-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTfL4knTq3Z1zGu_nojY3DvhgLTBQPSlmFtnurJtxEH0tYb94dew" >
  <div class="gaadiex-list-item-text">
    <h3><a style="cursor: pointer;"
           [routerLink]="[book.id]"
           routerLinkActive="active">{{book.title}}</a></h3>
    <h4>{{book.author}}</h4>
    <p> {{book.category.name}}</p>
  </div>
</div>
