<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <button *ngIf="serverService.isAdmin()" type="button" (click)="onAddNewBook()"  class="btn btn-success">Add new book</button>
          <br>
          Choosse category:
          <select (change)="filterBooks()" type="text" [(ngModel)]="category" name="category" required>
            <option *ngFor = "let cat of dataService.categories" [ngValue]="cat">
              {{cat.name}}
            </option>
          </select>
        </div>
        <div class="gaadiex-list">
          <app-e-book-item
            *ngFor="let bookEl of dataService.books; let i=index"
            [book]="bookEl"
            [id]="bookEl.id">
          </app-e-book-item>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
