<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <label>Search Type:</label>
      <select class="form-control form-control-lg" name="type" [(ngModel)]="searchType" (change)="changeSearchType()" required>
        <option value="term">Term</option>
        <option value="boolean">Boolean Query</option>
        <option value="phrase">Phrase Query</option>
        <option value="fuzzy">Fuzzy Query</option>
      </select>
    </div>
    <div class="col-md-3" *ngIf="booleanQuery">
      <label>Boolean type:</label>
      <select class="form-control form-control-lg" name="type" [(ngModel)]="boolCriteria"(change)="changeBoolCriteria()" required>
        <option value="AND">AND</option>
        <option value="OR">OR</option>
      </select>
    </div>
  </div>
</div>
<br>
<div class="container" *ngIf="booleanQuery">
  <div class="row">
    <div class="col-md-3">
      <label>Field Type:</label>
      <select class="form-control form-control-lg" name="field" [(ngModel)]="secondType" (click)="changeFieldSecond()" required>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="keywords">Keywords</option>
        <option value="text">Text</option>
        <option value="language">Language</option>
      </select>
    </div>
    <div class="col-md-9">
      <label></label>
      <input type="text" class="  search-query form-control" [(ngModel)]="secondValue"  placeholder="Search" />
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <label>Field Type:</label>
      <select class="form-control form-control-lg" name="field" [(ngModel)]="firstType" (change)="changeFieldFirst()" required>
        <option value="title">Title</option>
        <option value="author">Author</option>
        <option value="keywords">Keywords</option>
        <option value="text">Text</option>
        <option value="language">Language</option>
      </select>
    </div>
    <div class="col-md-7">
      <label></label>
      <input type="text" class="  search-query form-control" [(ngModel)]="firstValue" placeholder="Search" />
    </div>
    <div class="col-md-2">
      <label></label>
      <button class="search-query form-control btn-danger" (click)="onSearch()">Search</button>
    </div>
  </div>
</div>

<div class="container" *ngFor="let bookEl of books; let i=index">
  <div class="span8">
    <h3><b>Title:</b> {{bookEl.title}} ({{bookEl.category.name}})</h3>
    <h4><b>Author:</b> {{bookEl.author}}</h4>
    <p><b>Publication Year:</b> {{bookEl.publicationYear}}</p>
    <p><b>Language:</b> {{bookEl.language.name}}</p>
    <p [innerHtml]="bookEl.highlight"></p>
    <div >
      <div *ngIf="serverService.canDownload(bookEl.category.name)" class="more label"><a [href]="bookEl.downloadString" target="_blank">Download</a></div>
      <div *ngIf="!serverService.canDownload(bookEl.category.name)"><p> <b>Register and subscribe to the category {{bookEl.category.name}}, if you want to be able to download pdf of book!</b></p></div>
    </div>
    <div class="clear"></div>
    <hr>
  </div>
</div>
