<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <button type="button" (click)="onAddNewUser()"  class="btn btn-success">Add new user</button>
        </div>
        <div class="gaadiex-list">
          <app-user-item
            *ngFor="let userEl of dataService.users; let i=index"
            [user]="userEl"
            [id]="userEl.id">
          </app-user-item>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
